NODE_ENV=development
PORT=3000

# paystack
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=

# data provider
DATA_PROVIDER_API_URL=
DATA_PROVIDER_API_KEY=

# txtconnect
TXTCONNECT_API_KEY=
TXTCONNECT_SENDER_ID=

# openai
OPENAI_API_KEY=

# supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=